.calendar td {
    width: 50px;
    height: 30px;
}

.calendar td:hover {
    color: gray;
    cursor: pointer;
}

.calendar td.special-day {
    background-color: #90E0EF;
}

/* Estilos para el select */
#operation-section select {
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
    background-color: #ffffff; /* Color de fondo */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el select */
    margin-bottom: 10px; /* Espacio entre el select y el siguiente elemento */
}

.date-section-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
}

.operation-section-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
}

.progressBar-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
}

.progress-bar{
    width: 600px;
}

.image-selection{
    width: 350px;
    height: auto;
    margin-bottom: 10px;
}

.text-selection{
    margin-bottom: 10px;
}


