header {
    background-image: linear-gradient(#023E8A, #728FCE); /* Cambia #FFFFFF al color que quieras en la parte inferior */
    display: flex; /* Usa el modelo de caja flexible para centrar verticalmente la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    margin-bottom: 5px;
}

/* Estilos para el contenedor de botones */
.home-button-container {
    text-align: center; /* Alinea los botones al centro */
}

/* Estilos para los enlaces de los botones */
.home-button {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    background-color: #023E8A;
    color: #FFFFFF;
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 5px; /* Ajusta el radio del borde según sea necesario */
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Transición suave para el efecto de sombreado */
}

.home-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilos para los enlaces de los botones al pasar el cursor */
.home-button:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Sombra al pasar el cursor */
}

/* Estilos para los enlaces de los botones cuando están activos */
.home-button:active {
    transform: translateY(2px); /* Efecto de presión hacia abajo */
}

/* Estilos para los enlaces de los botones cuando están enfocados */
.home-button:focus {
    outline: none; /* Quita el contorno de enfoque */
}