<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/appointment.css}">
</head>
<body>
<header>
    <img class="image-top" th:src="@{/img/Captura.png}" alt="">
</header>
<div class="progressBar-container">
    <img class="progress-bar" id="progress25" th:src="@{/img/barraprogreso25.jpg}" alt="" style="display: block">
    <img class="progress-bar" id="progress50" th:src="@{/img/barraprogreso50.jpg}" alt="" style="display: none">
    <img class="progress-bar" id="progress75" th:src="@{/img/barraprogreso75.jpg}" alt="" style="display: none">
</div>
<div class="operation-section-container">
    <section id="operation-section" style="display: block">
        <label for="operation">Select a service:</label>
        <select id="operation" name="operation">
            <option th:each="operation : ${operationNames}" th:value="${operation}" th:text="${operation}"></option>
        </select>
        <img class="image-selection" id="image1" th:src="@{/img/psicologiaAdulto.jpg}" alt="" style="display: block">
        <img class="image-selection" id="image2" th:src="@{/img/psicologiaInfantil.jpg}" alt="" style="display: none">
        <img class="image-selection" id="image3" th:src="@{/img/gestionExtranjeria.jpg}" alt="" style="display: none">
        <img class="image-selection" id="image4" th:src="@{/img/gestionLaboral.jpg}" alt="" style="display: none">
        <p class="text-selection" id="text1" style="display: block">Resolucion de conflicto familiar</p>
        <p class="text-selection" id="text2" style="display: none">Dificultades de aprendizaje</p>
        <p class="text-selection" id="text3" style="display: none">Legalizacion</p>
        <p class="text-selection" id="text4" style="display: none">Mobbing</p>
        <a class="home-button" href="/">Back</a>
        <button class="home-button" type="button" onclick="nextOperationSection()">Next</button>
    </section>
</div>
<div class="date-section-container">
    <section id="date-section" style="display: none">
        <div id="calendarContainer">
            <!-- Calendar logic -->
        </div>
        <div id="eventList">
            <!-- Available time bands -->
        </div>
        <button class="home-button" type="button" onclick="backDateSection()">Back</button>
        <button class="home-button" type="button" onclick="nextDateSection()">Next</button>
    </section>
</div>
<section id="confirmation-section" style="display: none">
    <div id="confirmationDetails">
        <!-- Confirmation information here -->
    </div>
    <button class="home-button" type="button" onclick="backConfirmationSection()">Back</button>
    <button class="home-button" type="button" onclick="confirmAppointment()">Confirm</button>
</section>

<script src="/js/appointment.js"></script>
</body>
</html>