<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel="stylesheet" th:href="@{/css/author.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Authors</h1>
    <div class="table-responsive">
    <a th:href="@{/newAuthor}"><button>New Author</button></a>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.name}"></td>
            <td>
                <a th:href="@{/editAuthor(name=${author.name})}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/deleteAuthor(name=${author.name})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
