<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<header>
    <img th:src="@{/img/Captura.png}" alt="">
</header>
<body>
<div class="home-button-container">
    <div th:if="${#authorization.expression('isAuthenticated()')}">
        <!-- Contenido visible solo para usuarios autenticados -->
        <form th:action="@{/logout}" method="post">
            <a class="home-button" href="/appointment">New appointment</a>
            <input class="home-button" type="submit" value="Logout"/>
        </form>
    </div>
    <div th:unless="${#authorization.expression('isAuthenticated()')}">
        <!-- Contenido visible solo para usuarios no autenticados -->
        <a class="home-button" href="/appointment">New appointment</a>
        <a class="home-button" href="login">Login</a>
    </div>
</div>
<div class="home-text-container">
    <h1>Welcome to the page</h1>
    <h2>Services:</h2>
    <ul>
        <li><a th:href="@{/psicologiaInfantil}">Psicologia infantil</a></li>
        <li><a href="/">Psicologia adulto</a></li>
        <li><a href="/">Gestion de extranjeria</a></li>
        <li><a href="/">Gestion laboral</a></li>
    </ul>
    <p>If you are interested, please log in</p>
</div>
</body>
</html>