<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Psicologia infantil</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/psicologiaInfantil.css}">
</head>
<body>
<header>
    <img th:src="@{/img/Captura.png}" alt="">
</header>
<a href="/">Volver</a>
<div class="pic-container">
<img th:src="@{/img/cap1.jpg}" alt="">
<img th:src="@{/img/cap2.jpg}" alt="">
<img th:src="@{/img/cap3.jpg}" alt="">
<img th:src="@{/img/cap4.jpg}" alt="">
<img th:src="@{/img/cap5.jpg}" alt="">
<img th:src="@{/img/cap6.jpg}" alt="">
<img th:src="@{/img/cap7.jpg}" alt="">
</div>
</body>
</html>