<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/books.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<form th:action="@{/register}" method="post" id="registerForm">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="password" id="passRepeat" placeholder="Repeat password">
    <input class="home-button" type="submit" value="Register">
</form>
<script src="/js/register.js"></script>
</body>
</html>